<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center p-5">Quiz Catalog</h2>
        </div>
    </div>
    <hr>
    <div id="allQuizzes" class="container">
        <h3>Quizzes</h3>
        <hr>
        <ul>
            <li *ngFor="let quiz of quiz$">
                <a routerLink="/quizPage/{{quiz.id}}"><strong>Title: </strong>{{ quiz.id }}</a>
                <ul>
                    <li>Description: {{ quiz.description }}</li>
                    <li>Access: <strong>{{ quiz.access }}</strong></li>
                </ul><hr>
            </li>
        </ul>
    </div>
</div>
