<div class="container">
    <form [formGroup]="myForm">
        
    <div class="row">
        <div class="col">
            <h1 class="text-center p-5">Create Quiz</h1> 
        </div>
    </div>


    Value: {{ myForm.value | json }}

    <hr>
    



    <div>
        <mat-form-field class="full">

            <input matInput placeholder="quiz name" formControlName="quizName">

        </mat-form-field></div>
    
    <div>
        <mat-form-field>
            <textarea matInput placeholder="description" formControlName="description"></textarea>
        </mat-form-field>
    </div>
    
    <div>
        <mat-form-field>
        <mat-select formControlName="access" placeholder="Access">
            <mat-option value="Public">Public</mat-option>
            <mat-option value="Private">Private</mat-option>
        </mat-select>
    </mat-form-field>
    </div>

    <div formArrayName="quizzes">

        <div *ngFor="let quiz of quizForms.controls; let i=index" [formGroupName]="i">
        
            <div>

            <p> Question </p>
            <mat-form-field class="xs">
                <textarea matInput placeholder="question" formControlName="question"></textarea>
            </mat-form-field>
                
            <p> Quiz information</p>

            <mat-form-field class="xs">
                <input matInput placeholder="answer" formControlName="answer">
            </mat-form-field>

<!--
            <mat-form-field class="sm">
                 <textarea matInput placeholder="choices" formControlName="choices"></textarea> 
            </mat-form-field>
-->
            <p> Multiple Choice</p>
            <mat-form-field class="sm">
                 <textarea matInput placeholder="option a:" formControlName="a. "></textarea> 
            </mat-form-field>
                
            <mat-form-field class="sm">
                 <textarea matInput placeholder="option b: " formControlName="b. "></textarea> 
            </mat-form-field>
                
            <mat-form-field class="sm">
                 <textarea matInput placeholder="option c: " formControlName="c. "></textarea> 
            </mat-form-field>
                
            <mat-form-field class="sm">
                 <textarea matInput placeholder="option d: " formControlName="d. "></textarea> 
            </mat-form-field>

            <button mat-raised-button color="warn" (click)="deleteQuiz(i)">Delete</button>
                
            </div>

        </div>

    </div>


    <button mat-raised-button color="primary" (click)="addQuiz()">Add Quiz</button>



</form>
    
    </div>

<!--
                 <div formArrayName="options">

                    <div *ngFor="let options of quizForms.controls; let i=index" [formGroupName]="i">

                        <mat-form-field class="xx">
                            <textarea matInput placeholder="optionsList" formControlName="optionsList"></textarea>
                        </mat-form-field>
                        
                    </div>

                 </div>
-->