<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center p-5">Create Quiz</h2> 
        </div>
    </div>
    <div class="text-center">
        <form [formGroup]="myForm" (ngSubmit)="submitHandler()">
            <hr>
            <div>
                <mat-form-field class="full">
                    <input matInput placeholder="Quiz Name" formControlName="quizName">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <textarea matInput placeholder="Quiz Description" formControlName="description"></textarea>
                </mat-form-field>
            </div>
            <br>
            <div formArrayName="quizzes">
                <div *ngFor="let quiz of quizForms.controls; let i=index" [formGroupName]="i">
                    <div>
                        <br>
                        <p>Details</p>
                        <mat-form-field class="xs">
                            <textarea matInput placeholder="Question" formControlName="question"></textarea>
                        </mat-form-field>
                            
                        <p>Correct Answer</p>
                        <mat-form-field class="xs">
                            <input matInput placeholder="Answer (A, B, C, D)" formControlName="answer">
                        </mat-form-field>

                        <p>Possible Answers</p>
                        <mat-form-field class="sm">
                            <textarea matInput placeholder="A: " formControlName="a"></textarea> 
                        </mat-form-field><br>
                            
                        <mat-form-field class="sm">
                            <textarea matInput placeholder="B: " formControlName="b"></textarea> 
                        </mat-form-field><br>
                            
                        <mat-form-field class="sm">
                            <textarea matInput placeholder="C: " formControlName="c"></textarea> 
                        </mat-form-field><br>
                            
                        <mat-form-field class="sm">
                            <textarea matInput placeholder="D: " formControlName="d"></textarea> 
                        </mat-form-field><br>
                        <br>
                        <button mat-raised-button color="warn" (click)="deleteQuestion(i)">-</button>           
                    </div>
                </div>
            </div>
            <br>
            <button mat-raised-button color="primary" (click)="addQuestion()">+</button>
                <br>
                <br>
            <button mat-raised-button color="primary" (click)="postQuiz()">Submit Quiz</button>
                <br>
                <br>
        </form>
    </div>
 </div>
