<div class="container">
		<div class="row">
			<div class="col">
				<h2 class="text-center p-5">{{ quiz$.quizName }}</h2> 
				<h3>{{ scoreString }}</h3>
			</div>
		</div>
		<hr>
		<form [formGroup]="myForm">
			<div formArrayName="ans">
				<div  *ngFor="let answ of answerForms.controls; let i=index" [formGroupName]="i">
					<p>{{i+1}}. {{quiz$.quizzes[i].question}}</p>
					<mat-radio-group formControlName="option">
					<mat-radio-button value="a" color="primary">{{ quiz$.quizzes[i].a }}</mat-radio-button><br>
					<mat-radio-button value="b" color="primary">{{ quiz$.quizzes[i].b }}</mat-radio-button><br>
					<mat-radio-button value="c" color="primary">{{ quiz$.quizzes[i].c }}</mat-radio-button><br>
					<mat-radio-button value="d" color="primary">{{ quiz$.quizzes[i].d }}</mat-radio-button><br>
					</mat-radio-group><br>
				</div>
			</div>
			<button mat-raised-button color="primary" (click)="submitQuiz()">Submit Quiz</button>
			<br>
			<br>
		</form>
	</div>