<div class="container">
	<div class="row">
		<div class="col">
			<h2 class="text-center p-5">{{ quiz$.quizName }}</h2> 
		</div>
	</div>
	<hr>
	<div class="container">
		<ul>
			<li *ngFor="let questionList of quiz$.quizzes">		
				<mat-radio-group>
					{{ questionList.question }}<br><br>
					<mat-radio-button [value]="questionList.a">
						A. {{ questionList.a }}
					</mat-radio-button><br>
					<mat-radio-button [value]="questionList.b">
						B. {{ questionList.b }}
					</mat-radio-button><br>
					<mat-radio-button [value]="questionList.c">
						C. {{ questionList.c }}
					</mat-radio-button><br>
					<mat-radio-button [value]="questionList.d">
						D. {{ questionList.d }}
					</mat-radio-button><br>
				</mat-radio-group><br>
			</li>
		</ul>
	</div>
</div>