<form [formGroup]="myForm">

  Value: {{ myForm.value | json }}


  <hr>

  <mat-form-field>
      <input matInput placeholder="groupName" formControlName="groupName" autocomplete="off">
  </mat-form-field>
  
  <mat-form-field>
      <input matInput placeholder="description" formControlName="description" autocomplete="off">
  </mat-form-field>


<div formArrayName="members">

      <div *ngFor="let member of groupForms.controls; let i=index" [formGroupName]="i">
      
          <mat-form-field class="xs">
              <input matInput placeholder="username" formControlName="username">
          </mat-form-field>
          
          <button mat-raised-button color="warn" (click)="deleteMember(i)">Delete</button>
          
      </div>

  </div>
  
  <button mat-raised-button color="primary" (click)="addMembers()">Add Member</button>


</form>