<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center p-5">Create Group</h2> 
        </div>
    </div>
    <div class="text-center">
        <form [formGroup]="myForm" (ngSubmit)="submitHandler()">
            <hr>
            <div>
                <mat-form-field class="md">
                    <input matInput placeholder="Group Name" formControlName="groupName" autocomplete="off">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <textarea matInput placeholder="Group Description" formControlName="description"></textarea>
                </mat-form-field>
            </div>
            <br>
            <div formArrayName="members">
                <div *ngFor="let member of groupForms.controls; let i=index" [formGroupName]="i">
                    <mat-form-field class="xs">
                        <input matInput placeholder="Username" formControlName="username">
                    </mat-form-field>
                    <br>
                    <button mat-raised-button color="warn" (click)="deleteMember(i)">Delete</button>
                    <br>
                </div>
                <br>
                <button mat-raised-button color="warn" (click)="addMembers()">Add Member</button>
                <br>
                <br>
                <button mat-raised-button color="primary" (click)="postNewGroup()">Create Group</button>
            </div>
        </form>
    </div>
</div>