<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center p-5">Notifications</h2> 
        </div>
    </div>
    <hr>
    <div id="allNotifications" class="container">
        <h3>Notifications</h3>
        <hr>
        <ul>
          <li *ngFor="let notifications of quiz$">
            <a routerLink="/notificationDetails/{{notifications.id}}"><strong>{{notifications.id}}. </strong>{{ notifications.name }}     
              <p>Maybe Date</p>
            </a><hr>
          </li>
        </ul>
    </div>
</div>