<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center p-5">Notifications</h2> 
        </div>
    </div>
    <hr>
    <div class="text-center">
        <div id="allNotifications" class="container">
            <h3>Notifications</h3>
            <hr>
            <ul>
            <li *ngFor="let notifications of notification$">
                <a routerLink="/notifications/{{notifications.id}}"><strong>{{ notifications.notetitle }}</strong>
                <p>Click to view notification</p>
                </a><hr>
            </li>
            </ul>
        </div>
    </div>
</div>